<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Выбери чехол</title>
    <meta name="description" content="A demo of a payment on Stripe"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href={% static
    "checkout.css" %}/>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body align="center">
{% for item in items %}
<form id="payment-form">
    <div id="payment-element">
        <a style="font-size: 25px; color: black;" href="{% url 'item_page' item.id %}">
            {{ item.name }}
        </a>
        <h5>
            $ {{ item.get_price }}
        </h5>
    </div>
    <div id="payment-message" class="hidden"></div>
</form>
{% endfor %}
</body>
</html>
